/acinclude.m4
/aclocal.m4
/autom4te.cache/
/build/
/dist/
/config.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.nice
/config.status
/config.sub
/configure
/configure~
/configure.ac
/config.h.in~
/include/
/install-sh
/libtool
/ltmain.sh
/Makefile
/Makefile.fragments
/Makefile.global
/Makefile.objects
/missing
/modules/
/run-tests.php
/rust/target/
/*.lo
/*.la
/*.o
/*.dep
/.deps/
/.libs/
/tmp-php.ini
/tests/*.diff
/tests/*.exp
/tests/*.log
/tests/*.out
/tests/*.php
/tests/*.sh
*.gcda
*.gcno
